.listArea {
  align-items: center;
  background-color: #fff;
  display: flex;
  overflow-x: scroll;

  @media screen and (min-width: 1200px) {
    overflow-x: auto;
  }
}

.listItem {
  align-items: center;
  display: flex;
  flex: auto;
  justify-content: center;
  min-height: 125px;
  min-width: 300px;
  transition: all 0.1s;

  @media screen and (min-width: 1200px) {
    min-width: 225px;
  }
}

.listItem:not(:last-of-type) {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.listItem:hover {
  cursor: pointer;
  outline-offset: -3px;
  outline: 3px solid #0381ff;
}

.listItem.active {
  background: rgba(3, 129, 255, 0.03);
}

.listItemLogo {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-right: 16px;
  padding: 12px;
}

.listItemTitle {
  color: #000;
  font-family: 'SF Pro Display';
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
