.featureSection {
  background-color: #fff;
  padding-top: 55px;

  @media screen and (min-width: 1200px) {
    padding-top: 75px;
  }
}

.featureBlock {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: 1200px) {
    align-items: flex-end;
    flex-direction: row;
    min-height: 540px;
    padding: 60px 130px 0 200px;
  }
}

.featurePhoneArea {
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden;

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 100px;
  }
}

.featurePhoneAreaRelative {
  position: relative;
}

.featureBackground {
  position: relative;
  max-width: 245px;

  @media screen and (min-width: 1200px) {
    max-width: 365px;
  }
}

.feature2Item1 {
  position: absolute;
  left: calc(50% - 175px);
  bottom: 75px;
  width: 120px;

  @media screen and (min-width: 1200px) {
    width: 200px;
    left: 115px;
    bottom: 95px;
  }
}

.feature2Item2 {
  position: absolute;
  left: calc(50% + 50px);
  width: 120px;
  bottom: 125px;

  @media screen and (min-width: 1200px) {
    bottom: unset;
    width: 200px;
    left: 440px;
    top: 265px;
  }
}

.feature4Item1 {
  position: absolute;
  left: calc(50% - 135px);
  width: 28px;
  bottom: 13px;

  @media screen and (min-width: 1200px) {
    left: 180px;
    bottom: unset;
    width: 43px;
    top: 225px;
  }
}

.feature4Item2 {
  position: absolute;
  left: calc(50% + 105px);
  width: 28px;
  bottom: 13px;

  @media screen and (min-width: 1200px) {
    left: 550px;
    bottom: unset;
    width: 43px;
    top: 225px;
  }
}

.feature3Items {
  position: absolute;
  width: 200px;
  left: calc(50% - 100px);
  top: 95px;

  @media screen and (min-width: 1200px) {
    left: 40px;
    width: 300px;
  }
}

.featureBriefArea {
  margin: 0 auto;
  max-width: 375px;
  padding: 0 25px;

  @media screen and (min-width: 1200px) {
    margin: unset;
    max-width: 400px;
    padding: 0 0 165px 0;
  }

  @media screen and (min-width: 1440px) {
    max-width: 555px;
  }
}

.featureTitle {
  color: #0381ff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: normal;
  margin-bottom: 16px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    text-align: right;
  }
}

.featureSlogan {
  color: #0b122a;
  font-family: 'SF Pro Display';
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
    text-align: right;
  }
}

.featureDescription {
  color: #0b172a;
  font-family: 'SF Pro Display';
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 28px;
  margin-bottom: 32px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 32px;
    text-align: right;
  }
}

.featureCTAArea {
  margin-bottom: 45px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: right;
    margin-bottom: 0;
  }
}

.featureCTA {
  border-radius: 2px;
  border: 0.5px solid rgba(0, 0, 0, 0.16);
  color: #0b122a;
  font-family: 'SF Pro Display';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    padding: 15px 20px;
  }
}

.featureCTA:hover {
  border: 0.5px solid #0381ff;
  color: #0381ff;
}

.listArea {
  align-items: center;
  background-color: #fff;
  display: flex;
  overflow-x: scroll;

  @media screen and (min-width: 1200px) {
    overflow-x: auto;
  }
}

.listItem {
  align-items: center;
  display: flex;
  flex: auto;
  justify-content: center;
  min-height: 125px;
  min-width: 300px;
  transition: all 0.1s;

  @media screen and (min-width: 1200px) {
    min-width: 225px;
  }
}

.listItem:not(:last-of-type) {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.listItem:hover {
  cursor: pointer;
  outline-offset: -3px;
  outline: 3px solid #0381ff;
}

.activeListItem {
  background: rgba(3, 129, 255, 0.03);
}

.activeListItem:hover {
  outline: none;
}

.listItemLogo {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-right: 16px;
  padding: 12px;
}

.listItemTitle {
  color: #000;
  font-family: 'SF Pro Display';
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
